<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         testdox="true"
         cacheDirectory="cache"
         backupGlobals="false"
         backupStaticProperties="false">

    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Integration</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>Functional</directory>
        </testsuite>
        <testsuite name="EndToEnd">
            <directory>EndToEnd</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>Performance</directory>
        </testsuite>
        <testsuite name="Security">
            <directory>Security</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">../Controllers</directory>
            <directory suffix=".php">../Models</directory>
            <directory suffix=".php">../Services</directory>
            <directory suffix=".php">../Libraries</directory>
            <directory suffix=".php">../Helpers</directory>
        </include>
        <exclude>
            <directory>../Views</directory>
            <directory>../Assets</directory>
            <directory>../Config</directory>
            <file>../index.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage/html"/>
            <clover outputFile="coverage/clover.xml"/>
            <xml outputDirectory="coverage/xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="coverage/junit.xml"/>
    </logging>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="mysql_test"/>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>